body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #2c1810, #7b4a33);
}

/* HEADER */
header {
    background: linear-gradient(to right, #4e2e20, #2c1810);
    color: white;
    text-align: center;
    padding: 35px 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

header h1 {
    margin: 5px;
    font-size: 34px;
}

/* MAIN CARDS */
section {
    background: rgba(255, 255, 255, 0.95);
    margin: 20px auto;
    padding: 22px;
    border-radius: 14px;
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
    width: 90%;
    max-width: 1000px;
}

/* HEADINGS */
h2 {
    color: #4e2e20;
    border-left: 5px solid #7b4a33;
    padding-left: 10px;
}

/* LIST DESIGN */
ul {
    line-height: 1.95;
    list-style: none;
    padding-left: 10px;
}

li::before {
    content: "▶ ";
    color: #7b4a33;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    color: white;
}
